*,
 *::after
 *::before {
     box-sizing: border-box;
 }
body {
  min-width: 320px;  
    /*background-color: aqua;*/}
    .container {
        max-width: 1400px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-header {
        padding-top: 14px;
        padding-bottom: 8px;
        box-shadow: 0px 4px 10px rgba(105, 105, 105, 0.1);
    }
    .header-container {
        display: flex;
        align-items: center;
    }
    .header-logo {
        text-align: center;
        text-decoration: none;
    }
    .header-logo_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        text-transform: lowercase;
        color: #3D3F42;
    }